<!--
  Generated template for the TrailerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Trailer</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row style="width: 100%;" id="video-player">
    
  </ion-row>
</ion-content>
