<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Sign In</ion-title>
  </ion-navbar>

</ion-header>

<ion-content white-background>
    <ion-grid>
      <form #formLogin="ngForm" (ngSubmit)="onSubmit(formLogin)">
        <ion-row wrap>
            <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 loginform>
                <img src="https://hendrowijaya.com/benkotlay/imgs/login.png"/>
                <!-- <button ion-button button-clear clear><h3>SIGN IN</h3></button> -->
                
                <ion-item no-padding transparent>
                    <ion-label floating>Email</ion-label>
                    <ion-input required type="email" name="email" ngModel></ion-input>
                </ion-item>
                <ion-item no-padding transparent>
                    <ion-label floating>Password</ion-label>
                    <ion-input required type="password" name="password" ngModel></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row wrap padding>
            <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 optionelse>
              <button ion-button button-clear clear type="button" (click)="forgotPass()">FORGOT YOUR PASSWORD?</button>
            </ion-col>
          </ion-row>
        <ion-row wrap>
          <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
            <button ion-button button-clear-outline round outline type="submit" [disabled]="!formLogin.valid">Login</button>
          </ion-col>
        </ion-row>
      </form>
        
        <ion-row wrap padding style="top: -32px;">
          <ion-col optionelse>
            <button ion-button button-clear clear (click)="goToRegister()">DOESN'T HAVE ACCOUNT? SIGN UP NOW</button>
          </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<!-- <ion-footer>
  <ion-row> 
    <ion-col width-50>
        <button ion-button full (click)="loginPrompt()">Sign In</button>
    </ion-col>
    <ion-col width-50>
        <button ion-button full (click)="register()">Sign Up</button>
      </ion-col>
  </ion-row>
</ion-footer> -->
