page-login {
    ion-navbar{
        border-bottom-color: color($colors, danger);
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }
    [loginform] {
      margin: 5px auto 0;
      overflow: hidden;
  
      img{
        display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
      }
    }

    [optionelse] {
      margin: 1px auto 0;
  
      button{
        font-size: 14px;
      }
    }

    ion-col {
        position: relative;
    
        [button-clear] {
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    
    
      .item-inner {
        border-bottom-color: theme-colors('mainColors', 'primary') !important;
        box-shadow: none !important;
      }
    
      [button-clear-outline] {
        margin-top: 10%;
        width: 100%;
        display: block;
        float: left;
      }
    
      [social] {
        margin: 20px auto 0;
        overflow: hidden;
    
        button {
          margin: 1%;
          width: 48.5%;
          display: block;
          float: left;
        }
    
        > button:nth-child(2n) {
          margin-right: 0;
        }
      }
}
