<!--
  Generated template for the TabsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-tabs text-uppercase>
  <ion-tab [root]="playingPage" tabTitle="Playing" tabIcon="play"></ion-tab>
  <ion-tab [root]="comingSoonPage" tabTitle="Coming Soon" tabIcon="film"></ion-tab>
  <ion-tab [root]="searchPage" tabTitle="Search Movie" tabIcon="search"></ion-tab>
</ion-tabs>
