<!--
  Generated template for the MovieDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <!-- <ion-buttons end>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title>
      Movie Detail
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-grid no-padding>
      <ion-row>
          <ion-col col-12 col-md-12>
              <ion-card padding text-right class="card">
                  <div left class="card-img">
                      <img images-filter src="https://image.tmdb.org/t/p/original{{movie['poster_path']}}"/>
                      <!-- <img images-filter src="{{item.image}}" /> -->
                  </div>
                  <!--Card-content-->
                  <ion-card-content>
                      <!-- <ion-icon>
                          <i class="icon {{item.iconSlider}}"></i>
                      </ion-icon> -->
                      <ion-card-title no-padding>
                          <h3 card-title><b>{{movie.title}}</b></h3>
                      </ion-card-title>
                      <h4 card-subtitle></h4>
                      <h4 card-subtitle>Duration: {{movie.runtime}} minutes</h4>
                      <!-- <p card-body-text>adwadawwadwa</p> -->
                      <ion-list>
                          <ion-item class="item-info">
                            <ion-badge class="badge-info" *ngFor="let genre of movie.genres" item-start>{{genre.name}}</ion-badge>
                          </ion-item>
                        </ion-list>
                      <button ion-button clear small color="danger" icon-start>
                          <ion-icon name='star'></ion-icon>
                          {{movie.vote_average}}
                      </button>
                      <button ion-button clear small color="danger" icon-start>
                          <ion-icon name='calendar'></ion-icon>
                          {{movie.release_date | date}}
                      </button>
                  </ion-card-content>
              </ion-card>
          </ion-col>
      </ion-row>
      <ion-row wrap padding style="top: -32px;">
          <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 social>
              <!---Facebook button-->
              <button ion-button round outline color="facebook" (click)="clickSynopsis()">Synopsis</button>
              <!---Twitter button-->
              <button ion-button round outline color="pinterest" (click)="clickTrailer()">Trailer</button>
          </ion-col>
        </ion-row>
        
        <ion-label text-center danger *ngIf="flagUser == 0"><b>Please Sign In to Buy Tickets!</b></ion-label>
        <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 butonlogin>
            <button ion-button round outline color="twitter" style="padding: 0 16px 0 16px;"*ngIf="flagUser == 0" (click)="goToSignIn()">Sign In</button>
        </ion-col>
        <!-- <button ion-button round block *ngIf="flagUser == 0" (click)="goToSignIn()">Sign In</button> -->
        <form *ngIf="flagPage == 1 && flagUser == 1" [formGroup]="formSchedule" (ngSubmit)="onSubmit()">
          <ion-label text-center style="color: blue;"><b>Date</b></ion-label>
          <ion-segment formControlName="date" style="padding: 0 16px 0 16px; margin-top: -16px;">
            <ion-segment-button value="{{today}}" style="font-size: 10px;">Today</ion-segment-button>
            <ion-segment-button value="{{tomorrow}}" style="font-size: 10px;">{{tomorrow}}</ion-segment-button>
          </ion-segment>
          <ion-label text-center style="color: blue;"><b>Time</b></ion-label>
          <ion-segment formControlName="time" style="padding: 0 16px 0 16px; margin-top: -16px;">
              <ion-segment-button value="1" style="font-size: 10px;">12:00</ion-segment-button>
              <ion-segment-button value="2" style="font-size: 10px;">15:00</ion-segment-button>
              <ion-segment-button value="3" style="font-size: 10px;">18:00</ion-segment-button>
              <ion-segment-button value="4" style="font-size: 10px;">21:00</ion-segment-button>
          </ion-segment>

          <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 butonlogin>
              <button ion-button round outline color="twitter" style="padding: 0 16px 0 16px;" type="submit" [disabled]="!formSchedule.valid">Choose Seat</button>
          </ion-col>
          <!-- <button ion-button block style="padding: 0 16px 0 16px;" type="submit" [disabled]="!formSchedule.valid">Choose Seat</button> -->
        </form>
  </ion-grid>
</ion-content>

<!-- <ion-content class='page-content' padding>

  <ion-card>
    <img src="https://image.tmdb.org/t/p/original{{movie['poster_path']}}"/>

    <div class="card-subtitle">
      <ion-list>
        <ion-item class="item-info">
          <ion-badge class="badge-info" *ngFor="let genre of movie.genres" item-start>{{genre.name}}</ion-badge>
        </ion-item>
      </ion-list>

      <ion-row class="small-padding">
        <ion-col>
          <button ion-button clear small color="danger" icon-start>
            <ion-icon name='star'></ion-icon>
            {{movie.vote_average}}
          </button>
        </ion-col>
        <ion-col text-center>
          <button ion-button clear small color="danger" icon-start>
            <ion-icon name='calendar'></ion-icon>
            {{movie.release_date | date}}
          </button>
        </ion-col>
      </ion-row>
    </div>
    <ion-card-content text-justify text-lowercase>
      {{movie.overview}}
    </ion-card-content>
    <ion-label text-center danger *ngIf="flagUser == 0"><b>Please Sign In to Buy Tickets!!</b></ion-label>
    <button ion-button round block *ngIf="flagUser == 0" (click)="goToSignIn()">Sign In</button>
    <form *ngIf="flagPage == 1 && flagUser == 1" [formGroup]="formSchedule" (ngSubmit)="onSubmit()">
      <ion-label text-center style="color: blue;"><b>Date</b></ion-label>
      <ion-segment formControlName="date" style="padding: 0 16px 0 16px; margin-top: -16px;">
        <ion-segment-button value="{{today}}" style="font-size: 10px;">Today</ion-segment-button>
        <ion-segment-button value="{{tomorrow}}" style="font-size: 10px;">{{tomorrow}}</ion-segment-button>
      </ion-segment>
      <ion-label text-center style="color: blue;"><b>Time</b></ion-label>
      <ion-segment formControlName="time" style="padding: 0 16px 0 16px; margin-top: -16px;">
          <ion-segment-button value="1" style="font-size: 10px;">12:00</ion-segment-button>
          <ion-segment-button value="2" style="font-size: 10px;">15:00</ion-segment-button>
          <ion-segment-button value="3" style="font-size: 10px;">18:00</ion-segment-button>
          <ion-segment-button value="4" style="font-size: 10px;">21:00</ion-segment-button>
      </ion-segment>
      <button ion-button block style="padding: 0 16px 0 16px;" type="submit" [disabled]="!formSchedule.valid">Choose Seat</button>
    </form>
  </ion-card>
  
</ion-content> -->

<!-- <ion-content padding>
  <ion-grid>
    <ion-card>
      <ion-row>
        <ion-col>
          <h5 text-center>{{movie.title}}</h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col padding>
          <ion-img style="text-align:center;" width="150" height="220" src="https://image.tmdb.org/t/p/original{{movie['poster_path']}}"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <form [formGroup]="formSchedule" (ngSubmit)="onSubmit()">
          <p>Date</p>
          <ion-segment formControlName="date">
            <ion-segment-button value="{{today}}" style="font-size: 10px;">Today</ion-segment-button>
            <ion-segment-button value="{{tomorrow}}" style="font-size: 10px;">{{tomorrow}}</ion-segment-button>
          </ion-segment>
          <p>Time</p>
          <ion-segment formControlName="time">
              <ion-segment-button value="12:00" style="font-size: 10px;">12:00</ion-segment-button>
              <ion-segment-button value="15:00" style="font-size: 10px;">15:00</ion-segment-button>
              <ion-segment-button value="18:00" style="font-size: 10px;">18:00</ion-segment-button>
              <ion-segment-button value="21:00" style="font-size: 10px;">21:00</ion-segment-button>
          </ion-segment>
          <button ion-button type="submit" block [disabled]="!formSchedule.valid">Choose Seat</button>
        </form>
      </ion-row>
      <ion-row>
        <h6 text-justify>DURATION: {{movie.duration}} minutes</h6>
      </ion-row>
      <ion-row>
        <h6 text-justify>
          GENRE: <span *ngFor="let genre of movie.genres">{{genre.name}}, </span>
        </h6>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <h6 text-justify>SYNOPSIS: {{movie.overview}}</h6>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content> -->