page-movie-detail {
    .card-img {
        width: 130px;
        height: 220px;
        position: relative;
        margin-right: 10px;
    }
    [card-title] {
        line-height: normal !important;
        margin-bottom: 0;
        margin-top: 0;
    }
    [card-subtitle] {
        margin: 0;
    }
    [button-clear-outline] {
        width: 50%;
        display: block;
        float: left;
    }
    [social] {
        margin: 5px auto 0;
        overflow: hidden;
    
        button {
          margin: 1%;
          width: 48.5%;
          display: block;
          float: left;
        }
    
        > button:nth-child(2n) {
          margin-right: 0;
        }
    }  
    [butonlogin] {
        margin: 5px auto 0;
        overflow: hidden;
    
        button {
            margin: 1%;
            color: black;
            width: 100%;
            display: block;
            float: left;
        }
    
        > button:nth-child(2n) {
          margin-right: 0;
        }
      }
    [card-body-text] {
        padding-top: 30px;
        margin-bottom: 25px;
    }
    .swiper-slide {
        display: table;
    }
    .slide-zoom {
        height: 220px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    // .page-content{
    //     background: color($colors, dark);
    // }

    // ion-navbar{
    //     border-bottom-color: color($colors, danger);
    //     border-bottom-width: 1px;
    //     border-bottom-style: solid;
    // }

    // .test{
    //     color: white;
    // }

    // .item-info {
    //     min-height: 3rem !important;
    //     padding-bottom: 0px;
    // }

    // .badge-info{
    //     margin-top: 0px !important;
    //     margin-bottom: 0px !important;
    // }

    // form{
    //     [button-clear-outline] {
    //         width: 100%;
    //         display: block;
    //         float: left;
    //       }
    // }
}
