<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header>Biodata</ion-list-header>
    <ion-item>
      <ion-icon name="person" item-left></ion-icon>
      <p>Full Name: <b>{{fullName}}</b></p>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" item-left></ion-icon>
      <p>Email: <b>{{email}}</b></p>
    </ion-item>
    <ion-item>
      <ion-icon name="call" item-left></ion-icon>
      <p>Phone: <b>{{phone}}</b></p>
    </ion-item>
    <ion-item>
      <ion-icon name="cash" item-left></ion-icon>
      <p>Saldo: <b>{{saldo}}</b></p>
    </ion-item>
  </ion-list>

  <!-- <ion-list>
    <ion-list-header>Data History</ion-list-header>
    <button ion-item (click)="goToHistoryPurchase('ticket')">
      Show History Purchase Ticket
    </button>
    <button ion-item (click)="goToHistoryPurchase('voucher')">
      Show History Purchase Voucher
    </button>
  </ion-list> -->

  <form #changePasswordForm="ngForm" (ngSubmit)="changePass(changePasswordForm)">
    <ion-list>
      <ion-list-header>Security</ion-list-header>
      <!-- <ion-item>
        <ion-label floating>Old Password</ion-label>
        <ion-input type="password" name="oldPass" ngModel></ion-input>
      </ion-item> -->
      <ion-item>
        <ion-label floating>New Password</ion-label>
        <ion-input type="password" name="newPass" required ngModel></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Re-type New Password</ion-label>
        <ion-input type="password" name="reTypePass" required ngModel></ion-input>
      </ion-item>
    </ion-list>
    <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 buttonchange>
        <button ion-button round outline color="twitter" style="padding: 0 16px 0 16px;" type="submit" block [disabled]="!changePasswordForm.valid">Change Password</button>
    </ion-col>
    <!-- <button ion-button type="submit" block [disabled]="!changePasswordForm.valid">Change Password</button> -->
  </form>
</ion-content>
