<!--
  Generated template for the SynopsisPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Synopsis</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p text-justify>{{movie.overview}}</p>
</ion-content>
