// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/


$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #2b2b2b,
  secondary:  #fcd736,
  danger:     #f53d3d,
  light:      #f4f4f4,
  accent:     #202020,
  dark:       #222222,
  favorite:   #69BB7B,
  // Button Twitter
  twitter:(
    base: #64B5F6,
    contrast: #fff
  ),
  // Button Facebook
  facebook:(
    base: #3949ab,
    contrast: #fff
  ),
  // Button Google
  google:(
    base: #bf360c,
    contrast: #fff
  ),
  // Button Pinterest
  pinterest:(
    base: #ff3d00,
    contrast: #fff
  ),
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// App Animation
// --------------------------------------------------
@import "animate";

// App Main Sass
// --------------------------------------------------
@import "main";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

// // App Fontelo Style
//--------------------------------------------------
@import "fontello";

@import "ionicons";




// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
