<!--
  Generated template for the HistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>History Purchase {{item}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="item == 'ticket'">
    <button ion-item *ngFor="let history of data; let i = index;" (click)="goToTicketPage(history)">
      <!-- <ion-avatar item-start>
        <img src="https://image.tmdb.org/t/p/original{{poster[i]}}"/>
      </ion-avatar> -->
      <h2><b>{{title[i]}}</b></h2>
      <P>Date buy ticket: <b>{{dateBuy[i]}}</b></P>
    </button>
  </ion-list>
  <ion-list *ngIf="item == 'voucher'">
    <ion-item *ngFor="let history of data; let i = index;">
      <!-- <ion-avatar item-start>
        <img src="https://image.tmdb.org/t/p/original{{poster[i]}}"/>
      </ion-avatar> -->
      <h2><b>Code Voucher: {{vid[i]}}</b></h2>
      <P>Nominal: <b>{{amount[i]}}</b></P>
      <P>Expired Date: <b>{{expiredDate[i]}}</b></P>
      <p>Status: <b>{{used[i]}}</b></p>
      <button ion-button round outline *ngIf="used[i] == 'Not used'">copy</button>
    </ion-item>
  </ion-list>
</ion-content>
