<!--
  Generated template for the SeatingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Choose your Seats</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <button id="test" (click)="testDoang()">Test</button> -->
    <div>
        <!-- <div class="cockpit">-->
          <br>
          <ion-grid>
            <ion-row>
              <ion-col col-md-12 text-center border="1">
                <h1>Screen</h1>
              </ion-col>
            </ion-row>
          </ion-grid>
        <!-- </div> -->
        <!-- <div class="exit exit--front fuselage">
          
        </div> -->
    <div text-center>
      <form [formGroup]="formSeat" (ngSubmit)="onSubmit()">
        <ol class="text-center" tengah>
          <li class="row row--1">
            <ol class="seats" type="A">
              <li class="seat">
                <input type="checkbox" id="a1" formControlName="seat1a"/>
                <label for="a1">1A</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="b1" formControlName="seat1b"/>
                <label for="b1">1B</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="c1" formControlName="seat1c"/>
                <label for="c1">1C</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="d1" formControlName="seat1d"/>
                <label for="d1">1D</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="e1" formControlName="seat1e"/>
                <label for="e1">1E</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="f1" formControlName="seat1f"/>
                <label for="f1">1F</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="g1" formControlName="seat1g"/>
                <label for="g1">1G</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="h1" formControlName="seat1h"/>
                <label for="h1">1H</label>
              </li>
            </ol>
          </li>
          <li class="row row--2">
            <ol class="seats" type="A">
              <li class="seat">
                <input type="checkbox" id="a2" formControlName="seat2a"/>
                <label for="a2">2A</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="b2" formControlName="seat2b"/>
                <label for="b2">2B</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="c2" formControlName="seat2c"/>
                <label for="c2">2C</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="d2" formControlName="seat2d"/>
                <label for="d2">2D</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="e2" formControlName="seat2e"/>
                <label for="e2">2E</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="f2" formControlName="seat2f"/>
                <label for="f2">2F</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="g2" formControlName="seat2g"/>
                <label for="g2">2G</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="h2" formControlName="seat2h"/>
                <label for="h2">2H</label>
              </li>
            </ol>
          </li>
          <li class="row row--3">
            <ol class="seats" type="A">
              <li class="seat">
                <input type="checkbox" id="a3" formControlName="seat3a"/>
                <label for="a3">3A</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="b3" formControlName="seat3b"/>
                <label for="b3">3B</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="c3" formControlName="seat3c"/>
                <label for="c3">3C</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="d3" formControlName="seat3d"/>
                <label for="d3">3D</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="e3" formControlName="seat3e"/>
                <label for="e3">3E</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="f3" formControlName="seat3f"/>
                <label for="f3">3F</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="g3" formControlName="seat3g"/>
                <label for="g3">3G</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="h3" formControlName="seat3h"/>
                <label for="h3">3H</label>
              </li>
            </ol>
          </li>
          <li class="row row--4">
            <ol class="seats" type="A">
              <li class="seat">
                <input type="checkbox" id="a4" formControlName="seat4a"/>
                <label for="a4">4A</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="b4" formControlName="seat4b"/>
                <label for="b4">4B</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="c4" formControlName="seat4c"/>
                <label for="c4">4C</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="d4" formControlName="seat4d"/>
                <label for="d4">4D</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="e4" formControlName="seat4e"/>
                <label for="e4">4E</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="f4" formControlName="seat4f"/>
                <label for="f4">4F</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="g4" formControlName="seat4g"/>
                <label for="g4">4G</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="h4" formControlName="seat4h"/>
                <label for="h4">4H</label>
              </li>
            </ol>
          </li>
          <li class="row row--5">
            <ol class="seats" type="A">
              <li class="seat">
                <input type="checkbox" id="a5" formControlName="seat5a"/>
                <label for="a5">5A</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="b5" formControlName="seat5b"/>
                <label for="b5">5B</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="c5" formControlName="seat5c"/>
                <label for="c5">5C</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="d5" formControlName="seat5d"/>
                <label for="d5">5D</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="e5" formControlName="seat5e"/>
                <label for="e5">5E</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="f5" formControlName="seat5f"/>
                <label for="f5">5F</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="g5" formControlName="seat5g"/>
                <label for="g5">5G</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="h5" formControlName="seat5h"/>
                <label for="h5">5H</label>
              </li>
            </ol>
          </li>
          <li class="row row--6">
            <ol class="seats" type="A">
              <li class="seat">
                <input type="checkbox" id="a6" formControlName="seat6a"/>
                <label for="a6">6A</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="b6" formControlName="seat6b"/>
                <label for="b6">6B</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="c6" formControlName="seat6c"/>
                <label for="c6">6C</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="d6" formControlName="seat6d"/>
                <label for="d6">6D</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="e6" formControlName="seat6e"/>
                <label for="e6">6E</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="f6" formControlName="seat6f"/>
                <label for="f6">6F</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="g6" formControlName="seat6g"/>
                <label for="g6">6G</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="h6" formControlName="seat6h"/>
                <label for="h6">6H</label>
              </li>
            </ol>
          </li>
          <li class="row row--7">
            <ol class="seats" type="A">
              <li class="seat">
                <input type="checkbox" id="a7" formControlName="seat7a"/>
                <label for="a7">7A</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="b7" formControlName="seat7b"/>
                <label for="b7">7B</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="c7" formControlName="seat7c"/>
                <label for="c7">7C</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="d7" formControlName="seat7d"/>
                <label for="d7">7D</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="e7" formControlName="seat7e"/>
                <label for="e7">7E</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="f7" formControlName="seat7f"/>
                <label for="f7">7F</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="g7" formControlName="seat7g"/>
                <label for="g7">7G</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="h7" formControlName="seat7h"/>
                <label for="h7">7H</label>
              </li>
            </ol>
          </li>
          <li class="row row--8">
            <ol class="seats" type="A">
              <li class="seat">
                <input type="checkbox" id="a8" formControlName="seat8a"/>
                <label for="a8">8A</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="b8" formControlName="seat8b"/>
                <label for="b8">8B</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="c8" formControlName="seat8c"/>
                <label for="c8">8C</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="d8" formControlName="seat8d"/>
                <label for="d8">8D</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="e8" formControlName="seat8e"/>
                <label for="e8">8E</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="f8" formControlName="seat8f"/>
                <label for="f8">8F</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="g8" formControlName="seat8g"/>
                <label for="g8">8G</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="h8" formControlName="seat8h"/>
                <label for="h8">8H</label>
              </li>
            </ol>
          </li>
          <!-- <li class="row row9">
            <ol class="seats" type="A">
              <li class="seat">
                <input type="checkbox" id="9A" />
                <label for="9A">9A</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="9B" />
                <label for="9B">9B</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="9C" />
                <label for="9C">9C</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="9D" />
                <label for="9D">9D</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="9E" />
                <label for="9E">9E</label>
              </li>
              <li class="seat">
                <input type="checkbox" id="9F" />
                <label for="9F">9F</label>
              </li>
            </ol>
          </li> -->
          
        </ol>
        <br>
        <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 butonseat>
            <button ion-button round outline color="twitter" type="submit">Go to Payment</button>
        </ion-col>
        <!-- <button ion-button type="submit" block>Go to Payment</button> -->
      </form>
    </div>
        <!-- <div class="exit exit--back fuselage">
          
        </div> -->
    </div>
</ion-content>
