<!--
  Generated template for the ConfirmationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <!-- <ion-buttons start>
      <button ion-button icon-only>
        <p>No</p>
      </button>
    </ion-buttons> -->
    <ion-title>
        Payment
    </ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only>
        <p>Yes</p>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>


<ion-content style="background-color:lightgray" padding>
<ion-card>
  <ion-card-header>
    <h2><b>Total Price: Rp. {{totalPrice}}</b></h2>
  </ion-card-header>
  <ion-card-content>
      <p style="color: green" text-left><b>Invoice Details</b></p>
      <p>Movie: <b>{{film.title}}</b></p>
      <p>Studio: <b>{{studio}}</b></p>
      <p>Date: <b>{{date}}</b></p>
      <p>Time: <b>{{time}}</b></p>
      <p>Seat: <b><span *ngFor="let seat of detail.seat">{{seat}} </span></b></p>
      <p>Price: <b>Rp. {{detail.harga}} / seat</b></p>
      <p>Total Price: <b>Rp. {{totalPrice}}</b></p>
  </ion-card-content>
</ion-card>
<!-- <ion-card>
    <ion-list>
        <ion-item>
          Payment Date              
        </ion-item>
    </ion-list>
</ion-card> -->
<ion-card>
    <ion-list>
        <ion-item>
          <b>Total Saldo</b>
          <p>{{saldo}}</p>
          <!-- <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 topup>
              <button ion-button round outline item-end color="facebook" (click)="goToTopUp()">Top Up</button>
          </ion-col> -->
          <button ion-button round outline item-end color="facebook" (click)="goToTopUp()">Top Up</button>
          <!-- <button ion-button item-end (click)="goToTopUp()">
              TOP UP
            </button> -->
        </ion-item>
    </ion-list>
    <!-- <ion-list>
        <ion-item>
          Rp. 
          <button ion-button item-end>
            TOP UP
          </button>
        </ion-item>
    </ion-list> -->
</ion-card>
<ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 butonpayment>
    <button ion-button round outline color="twitter" style="padding: 0 16px 0 16px;" (click)="goToPay()">Pay Now</button>
</ion-col>
<!-- <button ion-button full large (click)="goToPay()">PAY NOW</button> -->