page-payment {
    [butonpayment] {
        margin: 5px auto 0;
        overflow: hidden;
    
        button {
            background: whitesmoke;
            margin: 1%;
            color: black;
            width: 100%;
            display: block;
            float: left;
        }
    
        > button:nth-child(2n) {
          margin-right: 0;
        }
      }
}
