<ion-menu [content]="sideMenuContent">
    <ion-header>
        <ion-toolbar text-center>
            <!-- <h2>Benkotlay</h2> -->
            <img width="100" src="https://hendrowijaya.com/benkotlay/imgs/login.png"/>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button ion-item (click)="onLoad(rootPage)">
                <ion-icon name="home" item-left></ion-icon>
                Home
            </button>
            <button *ngIf="active==1" ion-item (click)="onLoad('profilePage')">
                <ion-icon name="person" item-left></ion-icon>
                Profile
            </button>
            <button *ngIf="active==1" ion-item (click)="onLoad('sideHistoryPage')">
                <ion-icon name="filing" item-left></ion-icon>
                History
            </button>
            <button *ngIf="active==1" ion-item (click)="onLoad('topupPage')">
                <ion-icon name="cash" item-left></ion-icon>
                Top Up
            </button>
            <!-- <button *ngIf="active==0" ion-item (click)="loginPrompt()">
                <ion-icon name="contact" item-left></ion-icon>
                Sign In
            </button> -->
            <button *ngIf="active==0" ion-item (click)="onLoad(loginPage)">
                <ion-icon name="contact" item-left></ion-icon>
                Sign In
            </button>
            <!-- <button *ngIf="active==0" ion-item (click)="register()">
                <ion-icon name="create" item-left></ion-icon>
                Sign Up
            </button> -->
            <!-- <button *ngIf="active==0" ion-item (click)="changePass()">
                <ion-icon name="key" item-left></ion-icon>
                Change Password
            </button> -->
            <button ion-item (click)="onLoad('aboutusPage')">
                <ion-icon name="people" item-left></ion-icon>
                About Us
            </button>
            <button *ngIf="active==1" ion-item (click)="signOut()">
                <ion-icon name="close" item-left></ion-icon>
                Sign Out
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #sideMenuContent></ion-nav>
