<!--
  Generated template for the PlayingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Now Playing</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class='page-content' padding>
  <!-- <button (click)="getShowMovies()">Get Data</button> -->
  <ion-grid text-center class="grid-full">
    <ion-row>
      <ion-col col-6 col-md-4 col-lg-2 *ngFor="let movie of showMovies; let i = index;">
        <ion-card (click)="showMovieDetail(i)">
          <ion-img height="180" style="width:100%;" src="https://image.tmdb.org/t/p/original{{movie['poster_path']}}"></ion-img>
          <h6><b text-uppercase>{{movie['title']}}</b></h6>
        </ion-card>
      </ion-col>
    </ion-row>
      
<!-- <ion-col col-6 padding (click)="showMovieDetail(i*2)" *ngIf="i<showMovies.length/2 && showMovies[i*2]!=null">
  <ion-col col-6 padding (click)="showMovieDetail(i*2)" *ngIf="i<showMovies.length/2 && showMovies[i*2]!=null && today>=showMovies[i*2].startda && today<=showMovies[i*2].endda">
    <p>https://image.tmdb.org/t/p/original{{this.movieService.getDetails(showMovies[i*2].movie_id).poster_path}}</p>
    <ion-img width="150" height="220" src="https://image.tmdb.org/t/p/original{{this.showMovies[i*2]['poster_path']}}"></ion-img>
    <h6>{{this.showMovies[i*2]['title']}}</h6>
    <p>Fiction</p>
  
</ion-col>
<ion-col col-6 padding (click)="showMovieDetail(i*2+1)" *ngIf="i<showMovies.length/2 && showMovies[i*2+1]!=null">
<ion-col col-6 padding (click)="showMovieDetail(i*2+1)" *ngIf="i<showMovies.length/2 && showMovies[i*2+1]!=null && today>=showMovies[i*2+1].startda && today<=showMovies[i*2+1].endda">
    <ion-img width="150" height="220" src="https://image.tmdb.org/t/p/original{{this.showMovies[i*2+1]['poster_path']}}"></ion-img>
    <h6>{{this.showMovies[i*2+1]['title']}}</h6>
    <p>Fiction</p>
  
</ion-col> -->
      
      <!-- <ion-col padding (click)="presentPopover($event)">
        <ion-img width="100" src="http://eclipsemagazine.com/wp-content/uploads/2014/03/Oculus-2013-Movie-Poster1.jpg"></ion-img>
        <h6>Oculus</h6>
        <p>Drama Horror</p>
      </ion-col> -->

    <!-- <ion-row>
        <ion-col padding (click)="presentPopover($event)">
          <ion-img width="100" src="http://i.imgur.com/KCKIQvW.jpg"></ion-img>
          <h6>Dunkirk</h6>
          <p>Fiction</p>
        </ion-col>
        <ion-col padding (click)="presentPopover($event)">
          <ion-img width="100" src="http://eclipsemagazine.com/wp-content/uploads/2014/03/Oculus-2013-Movie-Poster1.jpg"></ion-img>
          <h6>Oculus</h6>
          <p>Drama Horror</p>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col padding (click)="presentPopover($event)">
              <ion-img width="100" src="https://i0.wp.com/film-book.com/wp-content/uploads/2014/02/captain-america-the-winter-soldier-movie-poster-01-1080x1600.png"></ion-img>
              <h6>Captain America</h6>
              <p>Action Fiction</p>
          </ion-col>
          <ion-col padding (click)="presentPopover($event)">
            <ion-img width="100%" src="http://i.imgur.com/KCKIQvW.jpg"></ion-img>
            <h6>Dunkirk</h6>
            <p>Fiction</p>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col padding (click)="presentPopover($event)">
                <ion-img width="100%" src="http://eclipsemagazine.com/wp-content/uploads/2014/03/Oculus-2013-Movie-Poster1.jpg"></ion-img>
                <h6>Oculus</h6>
                <p>Drama Horror</p>
              </ion-col>
            <ion-col padding (click)="presentPopover($event)">
                <ion-img width="100%" src="https://i0.wp.com/film-book.com/wp-content/uploads/2014/02/captain-america-the-winter-soldier-movie-poster-01-1080x1600.png"></ion-img>
                <h6>Captain America</h6>
                <p>Action Fiction</p>
            </ion-col>
          </ion-row> -->
  </ion-grid>
</ion-content>
