page-search {
    .card {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
        border-radius: 4px;
        background-color: rgba(197, 228, 240, 1);
    }

    // .page-content{
    //     background: color($colors, dark);
    // }

    ion-navbar{
        border-bottom-color: color($colors, danger);
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }
}
