<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Search Movie</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-buttons end class='search-bar'>
      <ion-searchbar #search (search)='searchMovie(search.value)'></ion-searchbar>
  </ion-buttons>
  <p>Your search is "{{title}}"</p>
  <ion-grid text-center class="grid-full">
    <ion-row>
      <ion-col col-6 col-md-4 col-lg-2 *ngFor="let movie of searchMovies; let i = index;">
        <ion-card (click)="showMovieDetail(i)">
          <ion-img height="150" style="width:100%;" src="https://image.tmdb.org/t/p/original{{movie['poster_path']}}"></ion-img>
          <h6><b text-uppercase>{{movie['title']}}</b></h6>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
