<!--
  Generated template for the SideHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>History</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item (click)="goToShowHistoryTicket()">
      <ion-icon name="paper"></ion-icon>
      Show Ticket History
    </ion-item>
    <ion-item (click)="goToShowHistoryVoucher()">
      <ion-icon name="cash"></ion-icon>
      Show Voucher History
    </ion-item>
  </ion-list>
</ion-content>
