<!--
  Generated template for the TicketPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Ticket</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-content>
      <h2><b>Purchase Tickets Successfull</b></h2>
      <br>
      <p style="color: green" text-center><b>Your Ticket(s)</b></p>
      <p>Movie: <b>{{title}}</b></p>
      <p>Studio: <b>{{studio}}</b></p>
      <p>Date: <b>{{date}}</b></p>
      <p>Time: <b>{{time}}</b></p>
      <p>Seat: <b text-uppercase><span *ngFor="let seat of detail.seat">{{seat}} </span></b></p>

      <p style="color: green" text-center><b>Your QR Code</b></p>
      <br>
      <!-- <img src="../assets/imgs/qrcode.png"/> -->
      <img src="https://api.qrserver.com/v1/create-qr-code/?data={{date}}+{{movieid}}+{{studioid}}&amp;size=300x300" alt="" title="" />
      <br>
      <p text-center>Show this QR Code to our staff in the Seenema. You can open this QR Code at ticket history in History Menu.</p>
      <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 butontiket>
          <button ion-button round outline color="twitter" style="padding: 0 16px 0 16px;" *ngIf="film != undefined" (click)="goToHome()">Done</button>
      </ion-col>
      <!-- <button ion-button block *ngIf="film != undefined" (click)="goToHome()">Done</button> -->
    </ion-card-content>
  </ion-card>
</ion-content>
