<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-navbar>

</ion-header>


<!-- <ion-content padding class="home-background">
  <form #registerform="ngForm" (ngSubmit)="registerNewUser(registerform)">
    <ion-list>
      <ion-item>
        <ion-label floating>Full Name</ion-label>
        <ion-input type="text" name="fullname" ngModel></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" name="password" ngModel></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
        <ion-item>
            <ion-label floating>Re-type Password</ion-label>
            <ion-input type="password" name="repassword" ngModel></ion-input>
        </ion-item>
      </ion-list>
      <ion-list>
          <ion-item>
              <ion-label floating>Email</ion-label>
              <ion-input type="email" name="email" ngModel></ion-input>
          </ion-item>
      </ion-list>
      <ion-list>
          <ion-item>
              <ion-label floating>Phone</ion-label>
              <ion-input type="text" name="phone" ngModel></ion-input>
          </ion-item>
      </ion-list>
      <ion-row>
        <ion-col width-50>
          <button ion-button full type="submit">Register</button>
        </ion-col>
        <ion-col width-50>
          <button type="button" ion-button full (click)="close()">Cancel</button>
        </ion-col>
      </ion-row>
  </form>
</ion-content> -->

<ion-content white-background>
    <ion-grid>
      <form #registerform="ngForm" (ngSubmit)="registerNewUser(registerform)">
        <ion-row wrap>
            <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 signupform>
                <img src="https://hendrowijaya.com/benkotlay/imgs/login.png"/>
                <!-- <button ion-button button-clear clear><h3>SIGN IN</h3></button> -->
                
                <ion-item no-padding transparent>
                    <ion-label floating>Full Name</ion-label>
                    <ion-input required type="text" name="fullname" ngModel></ion-input>
                </ion-item>
                <ion-item no-padding transparent>
                    <ion-label floating>Password</ion-label>
                    <ion-input required type="password" name="password" ngModel></ion-input>
                </ion-item>
                <ion-item no-padding transparent>
                    <ion-label floating>Re-Type Password</ion-label>
                    <ion-input required type="password" name="repassword" ngModel></ion-input>
                </ion-item>
                <ion-item no-padding transparent>
                    <ion-label floating>Email</ion-label>
                    <ion-input required type="email" name="email" ngModel></ion-input>
                </ion-item>
                <ion-item no-padding transparent>
                    <ion-label floating>Phone</ion-label>
                    <ion-input required type="text" name="phone" ngModel></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row wrap>
          <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
            <button ion-button button-clear-outline round outline type="submit" [disabled]=!registerform.valid>Sign Up</button>
          </ion-col>
        </ion-row>
      </form>
      <ion-row wrap>
          <ion-col optionelse>
            <button ion-button button-clear clear (click)="signIn()">ALREADY HAVE AN ACCOUNT? SIGN IN NOW</button>
          </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
