page-aboutus {
    // .home-background {
    //     background: url("../../assets/imgs/login_background.jpg") no-repeat fixed center; 
    //     -webkit-background-size: cover;
    //     -moz-background-size: cover;
    //     background-size: 100%;
    // }

    // ion-navbar{
    //     border-bottom-color: color($colors, danger);
    //     border-bottom-width: 1px;
    //     border-bottom-style: solid;
    // }
    
    .sebm-google-map-container {
        height: 300px;
      }
      [maps-title], [title]{
        color: theme-colors('textColors', 'accent') !important;
      }
      [maps-subtitle]{
        color: theme-colors('textColors', 'accent') !important;
      }
}
