<!--
  Generated template for the AboutusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <!-- <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title>About Us</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-grid no-padding>
      <ion-row>
          <!--Social Shere-->
          <!-- <ion-col col-12>
              <ion-item no-lines>
                  <div right social>
                      <ion-icon icon-small (click)="onEvent('onLike', data)">
                          <i class="icon {{data.iconLike}}"></i>
                      </ion-icon>
                      <ion-icon icon-small (click)="onEvent('onFavorite', data)">
                          <i class="icon {{data.iconFavorite}}"></i>
                      </ion-icon>
                      <ion-icon icon-small (click)="onEvent('onShare', data)">
                          <i class="icon {{data.iconShare}}"></i>
                      </ion-icon>
                  </div>
              </ion-item>
          </ion-col> -->
          <!---About Name-->
          <ion-col col-12>
              <ion-item map-header no-lines>
                  <img src="https://hendrowijaya.com/benkotlay/imgs/login-2.png"/>
              </ion-item>
          </ion-col>
          <!---About Us-->
          <ion-col col-12 map-content>
              <ion-item no-lines>
                  <h1 title>About us</h1>
                  <p description text-wrap style="text-align: justify">Seenema is more than a regular application to buy ticket(s). Since 2018, our mission has been to create the most innovated and best possible movie-buying ticket(s) experience for our customer with paperless innovation and avoid queue.</p>
                </ion-item>
              <ion-item no-lines>
                <h1 title style="text-align: right">Team</h1>
                <p description text-wrap style="text-align: right">Agung Widarma C    - 14110110022</p>
                <p description text-wrap style="text-align: right">Dhaniya Metta P    - 14110110080</p>
                <p description text-wrap style="text-align: right">Bryan              - 14110110081</p>
                <p description text-wrap style="text-align: right">Hendro Wijaya      - 14110110092</p>
                <p description text-wrap style="text-align: right">Jessica            - 14110110111</p>
                <p description text-wrap style="text-align: right">Ignaius Ivan Ramli - 14110110113</p>
            </ion-item>
              <!---About Info-->
              <div info>
                  <ion-item no-lines>
                      <ion-icon name="md-compass" item-left icon-small>
                      </ion-icon>
                      <p no-margin description>Universitas Multimedia Nusantara</p>
                  </ion-item>
                  <ion-item no-lines>
                      <ion-icon name="md-clock" item-left icon-small>
                      </ion-icon>
                      <p no-margin description>11.00 - 21.00 WIB All day</p>
                  </ion-item>
                  <ion-item no-lines>
                      <ion-icon name="md-call" item-left icon-small>
                      </ion-icon>
                      <p no-margin description>+628123456789</p>
                  </ion-item>
                  <ion-item no-lines>
                      <ion-icon name="md-globe" item-left icon-small>
                      </ion-icon>
                      <p no-margin description>www.seenema.com</p>
                  </ion-item>
                  <ion-item no-lines>
                      <ion-icon name="md-mail" item-left icon-small>
                      </ion-icon>
                      <p no-margin description>contact@seenema.com</p>
                  </ion-item>
              </div>
          </ion-col>
      </ion-row>
      <!---MAP TEXT-->
      <ion-row>
          <ion-col col-12>
              <ion-item no-lines>
                  <h2 title>Here we are:</h2>
              </ion-item>
          </ion-col>
          <!---MAP-->
      </ion-row>
      <ion-row>
          <ion-col col-12>
              <agm-map [latitude]="-6.257498" [longitude]="106.618152" [zoom]="16" [mapTypeControl]="true" [streetViewControl]="false">
                  <agm-marker [latitude]="-6.257498" [longitude]="106.618152"></agm-marker>
              </agm-map>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
