<!--
  Generated template for the PopovermenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>popovermenu</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>
    <ion-grid radio-group class="popover-page">
        <!-- <ion-row>
          <ion-col col-6>
            <button (click)="chooseSeat('smaller')" ion-item detail-none class="text-button text-smaller">12.00</button>
          </ion-col>
          <ion-col col-6>
            <button (click)="chooseSeat('larger')" ion-item detail-none class="text-button text-larger">15.00</button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <button (click)="chooseSeat('larger')" ion-item detail-none class="text-button text-larger">18.00</button>
          </ion-col>
          <ion-col col-6>
            <button (click)="chooseSeat('larger')" ion-item detail-none class="text-button text-larger">20.00</button>
          </ion-col>
        </ion-row> -->
        <ion-row>
          <p>Date</p>
        </ion-row>
        <ion-row>
            <ion-segment>
                <ion-segment-button style="font-size: 10px;">Today</ion-segment-button>
                <ion-segment-button style="font-size: 10px;">Tomorrow</ion-segment-button>
            </ion-segment>
        </ion-row>
        <ion-row>
          <p>Time</p>
        </ion-row>
        <ion-row>
            <ion-segment>
                <ion-segment-button style="font-size: 10px;">12:00</ion-segment-button>
                <ion-segment-button style="font-size: 10px;">15:00</ion-segment-button>
                <ion-segment-button style="font-size: 10px;">18:00</ion-segment-button>
                <ion-segment-button style="font-size: 10px;">21:00</ion-segment-button>  
            </ion-segment>
        </ion-row>
    </ion-grid>

</ion-content>
