<!--
  Generated template for the TopUpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Top Up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <ion-card>
    <form [formGroup]="formGetSaldo" (ngSubmit)="getSaldo()">
      <ion-label>Voucher Code</ion-label>
      <ion-input type="text" formControlName="codeVoucher" placeholder="code"></ion-input>
      <button ion-button type="submit" block [disabled]="!formGetSaldo.valid">Get Saldo</button>
    </form>
  </ion-card> -->
  <ion-card center>
    <ion-label text-center><b>Your Balance: Rp {{this.balance}}</b></ion-label>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Redeem Balance Voucer
    </ion-card-header>
    
    <ion-card-content>
        <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 butonredeem>
            <button ion-button round outline color="twitter" style="padding: 0 16px 0 16px;" (click)="getSaldo()">Redeem Voucher</button>
        </ion-col>
        <!-- <button ion-button block (click)="getSaldo()">Redeem Balance Voucher</button> -->
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Buy Balance Voucher
    </ion-card-header>
    <ion-card-content>
        <form [formGroup]="formBuyVoucher" (ngSubmit)="buyVoucher()">
            <ion-item>
                <ion-label col-4>Amount</ion-label>
                <ion-select required col-8 formControlName="amountVoucher">
                  <ion-option value="50000">Rp 50.000,-</ion-option>
                  <ion-option value="100000">Rp 100.000,-</ion-option>
                  <ion-option value="200000">Rp 200.000,-</ion-option>
                  <ion-option value="500000">Rp 500.000,-</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label col-4>Credit Card Number</ion-label>
                <ion-input pattern="[0-9]{16}" required col-8 type="number" placeholder="Credit Card Number" formControlName="ccNumber"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label col-4>CVV</ion-label>
                <ion-input pattern="[0-9]{3}" required col-8 type="password" placeholder="ccv" formControlName="ccv"></ion-input>
            </ion-item>
            <button ion-button round outline color="facebook" type="submit" block [disabled]="!formBuyVoucher.valid">Buy Voucher</button>
            <!-- <button ion-button type="submit" block [disabled]="!formBuyVoucher.valid">Buy Voucher</button> -->
          </form>
    </ion-card-content>

  </ion-card>
</ion-content>
