page-top-up {
    [butonredeem] {
        margin: 5px auto 0;
        overflow: hidden;
    
        button {
            margin: 1%;
            color: black;
            width: 100%;
            display: block;
            float: left;
        }
    
        > button:nth-child(2n) {
          margin-right: 0;
        }
      }
}


